:root {
    /* Primary */
    --blue: #4f7df3;

    /* Secondary */
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);

    /* Neutral */
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
}
main {
    display: grid;
    place-items: center;
    gap: 80px;
    width: 100%;
    padding: 70px 38px 38px 38px;
}
.coming-soon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 800px;
}
.logo {
    width: 60px;
}
.header-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    text-align: center;
}
.header-p {
    font-size: 2rem;
    color: var(--gray);
}
.header-p strong {
    color: black;
}
.subscribe-p {
    font-size: 1.2rem;
}
.coming-soon__container form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 726px;
    margin-bottom: 22px;
}
.email-input {
    width: 270px;
    height: 40px;
    padding-left: 28px;
    border-radius: 30px;
    border: 1px solid var(--pale-blue);
}
.error {
    border-color: red;
}
.submit-input {
    width: 270px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    border: 1px solid transparent;
    background-color: blue;
    cursor: pointer;
}
.submit-input:hover {
    opacity: 0.6;
    transition: 0.5s;
}
.dashboard-img {
    width: 100%;
    max-width: 700px;
}
footer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.social-media__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.social-media__container a {
    display: grid;
    place-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--pale-blue);
}
.social-media__container a:hover {
    background-color: var(--blue);
}
.social-media__container img {
    filter: invert(45%) sepia(92%) saturate(2781%) hue-rotate(208deg) brightness(99%) contrast(93%);
    width: 14px;
    transition: 0.5s;
}
.social-media__container a:hover img {
    filter: invert(100%) sepia(4%) saturate(7482%) hue-rotate(236deg) brightness(125%) contrast(118%);
    width: 14px;
}
footer p {
    font-size: 1.2rem;
    color: var(--gray);
}
.error-text {
    font-size: 1rem;
    font-style: italic;
    color: red;
}
.hide {
    display: none;
}
@media(min-width:770px) {
    .header-p {
        font-size: 3.2rem;
    }
    .subscribe-p {
        font-size: 1.4rem;
    }
    .coming-soon__container form {
        flex-direction: row;
        justify-content: center;
    }
    .email-input {
        width: 414px;
    }
    .submit-input {
        width: 190px;
    }
    .error-text {
        position: absolute;
        top: 48px;
        left: 82px;
    }
}